body { 
    display: flex; 
     
    font-family: arial; 
    color: white; 
    align-items: center; 
    justify-content: center; 
} 
h1 {
    color:grey; 
    font-family: verdana;
} 
.maindiv { 
    line-height: 2; 
    background-color: white; 
    color: black; 
    width: 500px; 
    padding: 40px; 
    border-radius: 25px; 
    align-items: vertical; 
} 
.highlight { background-color:rgb(2, 3, 48); }
.label { 
    display: inline-block;
    width: 130px;}
.upper {
        /* align-items: center; */
        /* justify-content: center; */
        left: 50px;
        position: relative;
        padding-bottom: 15px;
}
.lower {
    left: 50px;
    position: relative;
    line-height: 1;
}


